/* In progress */
.form-inline .form-group input[type=checkbox] {
  vertical-align: middle;
}
.form-inline .form-group .checkbox-label {
  vertical-align: middle;
  margin: 4px 5px 0px 2px;
}
.form-group-sm label {
  font-size: 12px;
}
