<!-- change password -->
<section class="margin-bottom">
    <div class="container">
        <div class="row">
            <div class="col-xs-offset-0 col-xs-12 col-sm-offset-2 col-sm-8 col-md-offset-3 col-md-6">
                <h3 class="section-title">Change Password</h3>
                <div class="panel panel-esp panel-default">
                    <div class="panel-body">
                        <!-- change password form -->
                        <form name="accountVm.changePasswordForm" class="form-horizontal" role="form" novalidate>
                            <div class="form-group" ng-class="{'has-error': accountVm.changePasswordForm.inputOldPassword.$touched && accountVm.changePasswordForm.inputOldPassword.$invalid}">
                                <label for="inputOldPassword" class="col-sm-4 control-label">Old Password</label>
                                <div class="col-sm-8">
                                    <input id="inputOldPassword" name="inputOldPassword" type="password" required="required" class="form-control" placeholder="Enter old password" ng-model="accountVm.changePasswordRequest.OldPassword" />
                                    <div class="text-danger" ng-show="accountVm.changePasswordForm.$submitted || accountVm.changePasswordForm.inputOldPassword.$touched">
                                        <div ng-show="accountVm.changePasswordForm.inputOldPassword.$error.required">Please enter your old password.</div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group" ng-class="{'has-error': accountVm.changePasswordForm.inputNewPassword.$touched && accountVm.changePasswordForm.inputNewPassword.$invalid}">
                                <label for="inputNewPassword" class="col-sm-4 control-label">New Password</label>
                                <div class="col-sm-8">
                                    <input id="inputNewPassword" name="inputNewPassword" type="password" required="required" class="form-control" placeholder="Enter new password" ng-model="accountVm.changePasswordRequest.NewPassword" />
                                    <div class="text-danger" ng-show="accountVm.changePasswordForm.$submitted || accountVm.changePasswordForm.inputNewPassword.$touched">
                                        <div ng-show="accountVm.changePasswordForm.inputNewPassword.$error.required">Please enter your new password.</div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group" ng-class="{'has-error': accountVm.changePasswordForm.inputConfirmPassword.$touched && (accountVm.changePasswordForm.inputConfirmPassword.$invalid || accountVm.changePasswordRequest.ConfirmPassword != accountVm.changePasswordRequest.NewPassword)}">
                                <label for="inputConfirmPassword" class="col-sm-4 control-label">Confirm Password</label>
                                <div class="col-sm-8">
                                    <input id="inputConfirmPassword" name="inputConfirmPassword" type="password" required="required" class="form-control" placeholder="Enter password confirmation" ng-model="accountVm.changePasswordRequest.ConfirmPassword" />
                                    <div class="text-danger" ng-show="accountVm.changePasswordForm.$submitted || accountVm.changePasswordForm.inputConfirmPassword.$touched">
                                        <div ng-show="accountVm.changePasswordForm.inputConfirmPassword.$error.required">Please enter your password again.</div>
                                        <div ng-show="accountVm.changePasswordRequest.ConfirmPassword != accountVm.changePasswordRequest.NewPassword">Your passwords do not match.</div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-offset-4 col-sm-8">
                                    <button type="submit" class="btn btn-esp btn-primary" ng-click="accountVm.changePassword()" ng-disabled="accountVm.changePasswordForm.$invalid || accountVm.changePasswordRequest.NewPassword != accountVm.changePasswordRequest.ConfirmPassword">Reset Password</button>
                                </div>
                            </div>
                        </form><!-- change password form -->
                    </div>
                    <div class="panel-footer">
                        <span class="text-success" ng-show="accountVm.working"><i class="fa fa-spinner fa-spin"></i>&nbsp;&nbsp;{{accountVm.message}}</span>
                        <span class="text-success" ng-show="!accountVm.working && accountVm.success">{{accountVm.message}}&nbsp;</span>
                        <span class="text-danger" ng-show="!accountVm.working && !accountVm.success"><i class="fa fa-exclamation-triangle"></i>&nbsp;&nbsp;{{accountVm.message}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!-- change password -->
