<!-- reset password -->
<section class="margin-bottom">
    <div class="container">
        <div class="row">
            <div class="col-xs-offset-0 col-xs-12 col-sm-offset-2 col-sm-8 col-md-offset-3 col-md-6">
                <h3 class="section-title">Reset Password</h3>
                <div class="panel panel-esp panel-default">
                    <div class="panel-body">
                        <!-- reset password form -->
                        <form name="accountVm.resetPasswordForm" class="form-horizontal" role="form" novalidate>
                            <input id="inputCode" name="inputCode" type="hidden" ng-model="accountVm.resetPasswordRequest.Code" />
                            <div class="form-group" ng-class="{'has-error': accountVm.resetPasswordForm.inputEmailAddress.$touched && accountVm.resetPasswordForm.inputEmailAddress.$invalid}">
                                <label for="inputEmailAddress" class="col-sm-4 control-label">Email Address</label>
                                <div class="col-sm-8">
                                    <input id="inputEmailAddress" name="inputEmailAddress" type="email" class="form-control" required="" placeholder="Enter email address" ng-model="accountVm.resetPasswordRequest.EmailAddress" />
                                    <div class="text-danger" ng-show="accountVm.resetPasswordForm.$submitted || accountVm.resetPasswordForm.inputEmailAddress.$touched">
                                        <div ng-show="accountVm.resetPasswordForm.inputEmailAddress.$error.required">Please enter your email address.</div>
                                        <div ng-show="accountVm.resetPasswordForm.inputEmailAddress.$error.email">Please enter a valid email address.</div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group" ng-class="{'has-error': accountVm.resetPasswordForm.inputPassword.$touched && accountVm.resetPasswordForm.inputPassword.$invalid}">
                                <label for="inputPassword" class="col-sm-4 control-label">Password</label>
                                <div class="col-sm-8">
                                    <input id="inputPassword" name="inputPassword" type="password" required="required" class="form-control" placeholder="Enter password" ng-model="accountVm.resetPasswordRequest.Password" />
                                    <div class="text-danger" ng-show="accountVm.resetPasswordForm.$submitted || accountVm.resetPasswordForm.inputPassword.$touched">
                                        <div ng-show="accountVm.resetPasswordForm.inputPassword.$error.required">Please enter your password.</div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group" ng-class="{'has-error': accountVm.resetPasswordForm.inputConfirmPassword.$touched && accountVm.resetPasswordForm.inputConfirmPassword.$invalid}">
                                <label for="inputConfirmPassword" class="col-sm-4 control-label">Confirm Password</label>
                                <div class="col-sm-8">
                                    <input id="inputConfirmPassword" name="inputConfirmPassword" type="password" required="required" class="form-control" placeholder="Enter password confirmation" ng-model="accountVm.resetPasswordRequest.ConfirmPassword" />
                                    <div class="text-danger" ng-show="accountVm.resetPasswordForm.$submitted || accountVm.resetPasswordForm.inputConfirmPassword.$touched">
                                        <div ng-show="accountVm.resetPasswordForm.inputConfirmPassword.$error.required">Please enter your password again.</div>
                                        <div ng-show="accountVm.resetPasswordRequest.ConfirmPassword != accountVm.resetPasswordRequest.Password">Your passwords do not match.</div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-offset-4 col-sm-8">
                                    <button type="submit" class="btn btn-esp btn-primary" ng-click="accountVm.resetPassword()" ng-disabled="accountVm.resetPasswordForm.$invalid || accountVm.resetPasswordRequest.Password != accountVm.resetPasswordRequest.ConfirmPassword">Reset Password</button>
                                </div>
                            </div>
                        </form><!-- reset password form -->
                    </div>
                    <div class="panel-footer">
                        <span class="text-success" ng-show="accountVm.working"><i class="fa fa-spinner fa-spin"></i>&nbsp;&nbsp;{{accountVm.message}}</span>
                        <span class="text-success" ng-show="!accountVm.working && accountVm.success">{{accountVm.message}}&nbsp;</span>
                        <span class="text-danger" ng-show="!accountVm.working && !accountVm.success"><i class="fa fa-exclamation-triangle"></i>&nbsp;&nbsp;{{accountVm.message}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!-- reset password -->
